<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Java Charts Webui</title>
</head>

<body>
    <div id="code-editor"></div>
    <br><br>
    <input type="button" value="Send Code" onclick="sendCode();">
    <br><br>
    <img src="${imgsrc}" alt="Java Charts Webui" id="chart-img">
    <script type="module">
        import { EditorView, basicSetup } from "https://esm.sh/codemirror"
        import { java } from "https://esm.sh/@codemirror/lang-java"
        let view = new EditorView({
            parent: document.getElementById("code-editor"),
            doc: ${codetext},
            extensions: [basicSetup, java()]
        });
        function sendCode() {
            let code = encodeURIComponent(view.state.doc.toString());
            window.location.href = "/code/" + code;
        }
        window.sendCode = sendCode;
    </script>
    <script>
        setTimeout(() => {
            let elem = document.getElementById("chart-img");
            elem.scrollIntoView({ block: "start", behavior: "smooth" });
        }, 1000);
    </script>
</body>

</html>
