<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Java Charts Webui</title>
</head>

<body>
<textarea id="code-ta" name="code-ta" rows="25"
          cols="100">${codetext}</textarea>
<br>
<input type="button" value="Send Code" onclick="sendCode();">
<br><br>
<img src="${imgsrc}" alt="Java Charts Webui">
<script>
    function sendCode() {
        let code = document.getElementById("code-ta").value;
        location.href = "/code/" + encodeURIComponent(code);
    }
</script>
</body>

</html>
