<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Java Charts Webui</title>
</head>

<body>
    <div id="code-editor" style="width: 800px;"></div>
    <br><br>
    <input type="button" value="Send Code" onclick="sendCode();">
    <br><br>
    <img src="{{imgsrc}}" alt="Java Charts Webui" id="chart-img">
    <script type="module">
        import { EditorView, basicSetup } from "https://esm.sh/codemirror"
        import { java } from "https://esm.sh/@codemirror/lang-java"
        import * as lang from "https://esm.sh/@codemirror/language"
        let view = new EditorView({
            parent: document.getElementById("code-editor"),
            doc: `{{codetext}}`,
            extensions: [basicSetup, java()]
        });
        {
            // Fold the method plot() in the code:
            let d = view.state.doc;
            for (let i = d.lines; i > 0; i--) {
                let line = d.line(i);
                if (line.text.includes("public String plot()")) {
                    let range = lang.foldable(view.state, line.from, line.to);
                    if (range) {
                        console.log("Folding ...", range);
                        view.dispatch({ effects: [lang.foldEffect.of(range)] });
                    }
                    break;
                }
            }
        }
        // Scroll to the chart image after the editor is ready
        document.getElementById("chart-img").scrollIntoView({ block: "start", behavior: "smooth" });
        function sendCode() {
            let code = encodeURIComponent(view.state.doc.toString());
            window.location.href = "/code/" + code;
        }
        window.sendCode = sendCode;
    </script>
</body>

</html>
